@property --bg-color-1 {
  syntax: '<color>';
  initial-value: #2b8334;
  inherits: false;
}

@property --bg-color-2 {
  syntax: '<color>';
  initial-value: #2b8334;
  inherits: false;
}

.advantages {
  padding: 75px 0;
}

.advantages__decor {
  background-image: url(../../imgs/decor-04.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.advantages__decor::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(247deg, #04682F 0%, #12723100 21%, #237E33 50%, #398D366B 78%, #459638 100%) 0% 0% no-repeat padding-box;
}

.advantages__content {
  display: flex;
  gap: 30px;
}

.advantages__column {
  width: calc(50% - 335px / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.advantages__column--right {
  padding-left: 15%;
}

.advantages__center {
  width: 350px;
  min-width: 350px;
  text-align: center;
}

.advantages__title {
  background: none;
  -webkit-text-fill-color: var(--white);
  width: 100%;
}

.advantages__item {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-bottom: 50px;
  width: fit-content;
}

.advantages__subtitle {
  font-size: 25px;
  line-height: 38px;
  font-weight: var(--font-semibold);
  font-weight: 600;
  cursor: default;
}

.icon__wrapper.advantages__icon-wrapper {
  box-shadow: inset 0px 0px 18px #17751f;
  background: linear-gradient(var(--bg-color-1), var(--bg-color-2));
  transition: --bg-color-1 0.3s, --bg-color-2 0.3s;
}

.advantages__item:hover .icon__wrapper.advantages__icon-wrapper {
  box-shadow: none;
  --bg-color-1: var(--orange);
  --bg-color-2: var(--orange-dark);
}

.advantages__logo {
  width: 100%;
  max-width: 325px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@media (max-width: 1450px) {
  .advantages__item {
    gap: 20px;
    margin-bottom: 30px;
  }

  .advantages__subtitle {
    font-size: 20px;
  }

  .advantages__column--right {
    padding-left: 5%;
  }
}

@media (max-width: 1280px) {
  .advantages__content {
    flex-wrap: wrap;
  }

  .advantages__center {
    order: 1;
    width: 100%;
  }

  .advantages__logo {
    position: relative;
  }

  .advantages__column--left {
    order: 2;
    align-items: flex-end;
  }

  .advantages__column--left .advantages__item {
    flex-direction: row-reverse;
  }

  .advantages__column--left .advantages__subtitle {
    text-align: right;
  }

  .advantages__column--right {
    order: 3;
    padding-left: 0;
  }

  .advantages__column {
    width: calc(50% - 15px);
  }
}

@media (max-width: 1024px) {
  .advantages__decor {
    background-image: url(../../imgs/green-bg.jpg);
  }

  .advantages__decor::after {
    content: none;
  }

  .advantages__logo {
    max-width: 250px;
  }

  .advantages__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .advantages__content {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .advantages__center {
    margin-bottom: 30px;
    min-width: unset;
  }

  .advantages__column {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .advantages__column--right {
    padding-top: 0;
  }

  .advantages__column--left .advantages__item,
  .advantages__column--right .advantages__item {
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .advantages__subtitle {
    font-size: 20px;
    line-height: 30px;
    text-align: left !important;
    /* text-align: center !important; */
    /* margin: 0 auto; */
  }
}