.apartment__top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}

.apartment__top-bar a {
  font-size: 13px;
  line-height: 20px;
  font-family: var(--font-medium);
}

.apartment__top-bar a {
  text-decoration: none;
  transition: var(--transition);
}

.apartment__content {
  display: flex;
  flex-direction: column;
}

.apartment__name {
  text-align: center;
  margin: 0 auto 25px auto;
}

.apartment__data,
.apartment__data tbody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 16px;
}

.apartment__data tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 8px);
  border-bottom: solid 1px var(--border);
  padding: 10px 0;
}

.apartment__data tbody tr:nth-last-child(-n + 2) {
  border-bottom: none;
}

.apartment__data th {
  font-family: var(--font-light);
  font-weight: 300;
  text-align: left;
}

.apartment__data td {
  font-family: var(--font-bold);
  text-align: right;
}

.apartment__data .status {
  font-family: var(--font-bold);
  text-transform: uppercase;
}

.apartment__data .status.available {
  color: var(--green);
}

.apartment__data .status.reserved {
  color: var(--orange);
}

.apartment__data .status.sold {
  color: var(--red);
}

.apartment__history-btn {
  margin: 0 0 30px auto;
  display: block;
}

.apartment__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 48px;
  margin-top: 36px;
}

.apartment__buttons .cta-link {
  font-size: 18px;
  font-family: var(--font-medium);
}

@media (max-width: 1024px) {
  .apartment__buttons {
    gap: 16px;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width: 800px) {
  .apartment__data tr {
    width: 100%;
  }

  .apartment__buttons {
    align-items: flex-start;
    justify-content: flex-start;
  }
}