.circles__title {
  text-align: center;
}

.circles__subtitle {
  text-align: center;
}

.circles__description {
  text-align: center;
  margin: 20px auto 40px auto;
  max-width: 555px;
}

.circles__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-top: 80px;
}

.circles__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.circles__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 171px;
  height: 171px;
  border: solid 1px var(--gray-border);
  border-radius: 50%;
  background-color: var(--white);
}

.circles__icon-img {
  width: 60px;
  height: 60px;
  margin: auto;
  object-fit: contain;
}

.circles__item-title {
  font-size: 13px;
  line-height: 20px;
  margin-top: 30px;
  text-align: center;
  max-width: 180px;
}

@media (max-width: 800px) {
  .circles__items {
    margin-top: 40px;
    gap: 40px;
  }

  .circles__item-title {
    margin: 10px auto 0 auto;
  }
}
