.contact-form__title {
  text-align: center;
  margin: 0 auto 70px auto;
}

.contact-form__wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.contact-form__image {
  width: calc(100% - 536px - 16px);
}

.contact-form__content {
  width: 536px;
}

.contact-form__form-title {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: normal;
}

@media (max-width: 1024px) {
  .contact-form__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact-form__content,
  .contact-form__image {
    width: 536px;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .contact-form .form__submit {
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form__title {
    margin: 0 auto 30px auto;
  }
}
