.hero + .content-items {
  margin-top: -30px;
}

.content-items__item {
  margin-top: 80px;
}

.content-items .text-only__content {
  padding-bottom: 0;
}

@media (max-width: 800px) {
  .hero + .content-items {
    margin-top: 60px;
  }

  .content-items__item {
    margin-top: 40px;
  }
}
