/* .contact-description {
  margin: 90px auto;
} */

.contact-description .wrapper {
  z-index: 2;
  position: relative;
}

.contact-description__heading {
  margin-bottom: 170px;
}

.contact-description__data {
  display: flex;
}

.contact-description__data-col {
  width: 321px;
  padding-right: 16px;
}

.contact-description__data h4 {
  font-family: var(--font-light);
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 24px;
  text-transform: none;
}

.contact-description__data-phone {
  color: var(--green);
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 10px;
}

.contact-description__data-email {
  color: var(--green);
  font-size: 15px;
  line-height: 18px;
}

@media (max-width: 1024px) {
  .contact-description__heading {
    margin-bottom: 120px;
  }
}

@media (max-width: 800px) {
  .contact-description__data {
    flex-wrap: wrap;
  }

  .contact-description__data-col {
    margin-bottom: 15px;
  }

  .contact-description__data-col h4 {
    margin-bottom: 5px;
  }

  .contact-description__heading {
    margin-bottom: 45px;
  }
}
