.contact__wrapper {
  display: flex;
  gap: 32px;
}

.contact .contact__data {
  width: 520px;
}

.contact .contact__form {
  width: calc(100% - 520px - 32px);
  display: flex;
  gap: 16px;
}

.contact .contact-form__img {
  max-width: 536px;
  height: 576px;
  width: 100%;
}

.contact-data__description {
  max-width: 516px;
  margin-bottom: 30px;
}

.contact-data__icons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-data__icons a:hover {
  text-decoration: none;
}

.contact-data__icons a,
.contact-data__icons p {
  margin: 0;
  display: flex;
  align-items: center;
}

.contact-data__icons svg {
  margin-right: 10px;
  display: inline-block;
}

.contact-data__icons svg path {
  transition: var(--transition);
}

.contact-data__icons a:hover svg path {
  fill: var(--green);
}

@media (max-width: 1400px) {
  .contact__wrapper {
    flex-direction: column;
  }

  .contact .contact__data,
  .contact .contact__form {
    width: 100%;
  }

  .contact .contact-form__image {
    width: 536px;
  }
}

@media (max-width: 800px) {
  .contact .contact__form {
    flex-direction: column;
    gap: 32px;
  }

  .contact .contact-form__image {
    width: 100%;
    max-width: unset;
    height: auto;
  }

  .contact .contact-form__img {
    width: 100%;
    height: auto;
    max-width: unset;
  }
}