/* .contact-with-sellers {
  position: relative;
  margin: 180px auto 90px auto;
} */

.contact-with-sellers .decor {
  bottom: -20%;
  left: 0;
  right: 0;
  text-align: center;
}

.contact-with-sellers .decor path {
  stroke: var(--gray-border);
}

.contact-with-sellers__title {
  text-align: center;
}

.contact-with-sellers__subtitle {
  text-align: center;
  margin-bottom: 40px;
}

.contact-with-sellers__items {
  margin-top: 66px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 1024px) {
  .contact-with-sellers__items {
    gap: 16px;
    margin-top: 45px;
  }
}

@media (max-width: 800px) {
  .contact-with-sellers__items {
    flex-wrap: wrap;
  }

  .contact-with-sellers {
    margin: 45px auto 45px auto;
  }
}
