.gallery-slider__title {
  text-align: center;
  margin: 0 auto 75px auto;
}

.gallery-slider__slide {
  width: 1088px;
  height: 677px;
  max-width: calc(100vw - 120px);
  max-height: calc(66vw - 120px);
  overflow: hidden;
  border-radius: 7px;
}

.gallery-slider__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-slider__button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.gallery-slider__pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px auto 50px auto;
}

.gallery-slider .slick-arrow.btn--arrow-left {
  left: 60px;
}

.gallery-slider .slick-arrow.btn--arrow-right {
  right: 60px;
}

@media (max-width: 1280px) {
  .gallery-slider__title {
    margin: 0 auto 45px auto;
  }
}

@media (max-width: 800px) {
  .gallery-slider__title {
    margin: 0 auto 30px auto;
  }

  .gallery-slider .slick-track {
    gap: 10px;
  }

  .gallery-slider__slide {
    width: calc(100vw - 45px);
    height: calc(66vw - 45px);
    max-width: unset;
    max-height: unset;
  }
}
