/* .poi {
  padding: 180px 0 90px 0;
  background-color: var(--beige);
} */

.poi > .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.poi__text {
  width: 321px;
  min-width: 321px;
}

.poi__map {
  border-radius: 7px;
  position: relative;
}

.poi__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.poi__points {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.poi__item {
  width: 43px;
  height: 43px;
  position: absolute;
  background: url(../../imgs/icons/poi-plus.svg) no-repeat center center;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.poi__item::after {
  content: '';
  display: block;
  width: 43px;
  height: 43px;
  position: absolute;
  background: url(../../imgs/icons/poi-plus-blue.svg) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  transition: var(--transition-short);
}

.poi__item:hover::after {
  opacity: 1;
  visibility: visible;
}

.poi__item--active {
  background: url(../../imgs/icons/poi-minus-blue.svg) no-repeat center center;
  background-size: contain;
}

.poi__item--active::after {
  display: none;
}

.poi__item-description {
  position: absolute;
  left: -120px;
  bottom: 48px;
  width: 290px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 7px;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: var(--transition-short);
}

.poi__item--active .poi__item-description {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.poi__item-description h3 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 20px;
  font-family: var(--font-bold);
}

.poi__item-description p {
  font-size: 12px;
  line-height: 19px;
  margin: 0;
}

@media (max-width: 800px) {
  .poi {
    padding-top: 80px;
    margin-top: -40px;
    padding-bottom: 0;
  }

  .poi .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .poi__text {
    min-width: unset;
    width: 100%;
  }

  .poi__map {
    width: 120vw;
  }

  .poi__item,
  .poi__item::after {
    width: 23px;
    height: 23px;
  }

  .poi__item-description {
    padding: 10px;
    max-width: calc(100vw - 20px);
    bottom: 25px;
  }

  .poi__item-description h3 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }

  .poi__item-description p {
    font-size: 10px;
    line-height: 12px;
  }
}
