.special-offer__title {
  text-align: center;
}

.special-offer__subtitle {
  text-align: center;
}

.special-offer__description {
  text-align: center;
  margin-bottom: 40px;
}

.special-offer__content {
  width: 100%;
  overflow: visible;
  position: relative;
  margin-top: 65px;
}

.special-offer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .special-offer {
    margin: 0 auto;
    padding-bottom: 0;
  }

  .special-offer__content {
    margin-top: 40px;
  }

  .special-offer__item-content {
    padding: 10px;
  }

  .special-offer__item-logo {
    max-width: 108px;
    max-height: 34px;
  }
}
