.steps__title {
  text-align: center;
  margin: 0 auto 83px auto;
}

.steps__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}

.steps__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.steps__img {
  width: calc(50% - 8px);
  height: 339px;
  object-fit: cover;
  border-radius: 7px;
}

.steps__content {
  width: calc(50% - 8px);
}

.steps__name {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: var(--font-bold);
  background: linear-gradient(var(--btn-color-1), var(--btn-color-2));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  transition: --btn-color-1 0.3s, --btn-color-2 0.3s;
}

.steps__item.active .steps__name {
  --btn-color-1: var(--orange);
  --btn-color-2: var(--orange-dark);
}

.steps__name-number {
  font-size: 53px;
  width: 45px;
  height: 45px;
  line-height: 45px;
}

.steps__name-text {
  font-size: 20px;
  line-height: 22.5px;
  text-transform: uppercase;
}

@media (max-width: 1280px) {
  .steps__title {
    margin: 0 auto 70px auto;
  }
}

@media (max-width: 1024px) {
  .steps__title {
    margin: 0 auto 45px auto;
  }

  .steps__item {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .steps__img {
    width: 100%;
    max-width: 800px;
    height: 339px;
  }

  .steps__content {
    width: 100%;
  }

  .steps__list {
    gap: 45px;
  }
}

@media (max-width: 800px) {
  .steps__title {
    margin: 0 auto 30px auto;
  }
}
