.text-img > .wrapper {
  display: flex;
  align-items: stretch;
  gap: 16px;
  position: relative;
}

.text-img__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-img__content,
.text-img__image {
  width: calc(50% - 8px);
  margin-bottom: 120px;
}

.text-img__title {
  margin-bottom: 10px;
  background: -webkit-linear-gradient(var(--green), var(--green-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-img__description p:last-of-type {
  margin-bottom: 0;
}

.text-img__image {
  height: auto;
  position: relative;
}

.text-img__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.text-img__logo {
  position: absolute;
  bottom: -70px;
  right: -20px;
  z-index: 2;
  background: transparent
    linear-gradient(52deg, #fb9b00 0%, #fb9b00 1%, #e13510 100%) 0% 0% no-repeat
    padding-box;
  width: 260px;
  height: 201px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-img__logo-img {
  width: 155px;
  height: auto;
}

.text-img .slick-track {
  gap: 0;
}

.text-img__image .wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.text-img__image-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text-img__pagination-wrapper {
  position: absolute;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -120px;
  height: 7px;
}

.text-img__pagination {
  margin: 0;
}

.text-img .slick-list {
  border-radius: 7px;
  overflow: hidden;
}

.text-img .slick-track,
.text-img .slick-list,
.text-img .slick-slide {
  height: 100%;
  min-height: 564px;
}

.text-img__content .btn {
  margin-top: 30px;
}

.text-img--multiple .text-img__image-inner {
  width: 100%;
  height: 537px;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  overflow: hidden;
  border-radius: 7px;
}

.text-img--multiple .text-img__img {
  height: calc(50% - 6.5px);
  width: calc(43% - 6.5px);
}

.text-img--multiple .text-img__img:nth-child(1),
.text-img--multiple .text-img__img:nth-child(4) {
  width: calc(57% - 6.5px);
}

.text-img--multiple .slick-track,
.text-img--multiple .slick-list,
.text-img--multiple .slick-slide {
  min-height: unset;
}

@media (max-width: 1280px) {
  .text-img__logo {
    width: 220px;
    height: 170px;
    bottom: -50px;
  }

  .text-img__content,
  .text-img__image {
    margin-bottom: 90px;
  }

  .text-img__pagination-wrapper {
    bottom: -90px;
  }
}

@media (max-width: 1024px) {
  .text-img > .wrapper {
    flex-direction: column;
  }

  .text-img__content,
  .text-img__image {
    margin-bottom: 30px;
    width: 100%;
  }

  .text-img__pagination-wrapper {
    bottom: -30px;
  }

  .text-img__logo {
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 140px;
  }

  .text-img__logo-img {
    width: 120px;
  }
}
