/* .text-panels {
  padding: 120px 0 90px 0;
  position: relative;
  margin-top: -120px;
} */

.text-panels .wrapper {
    display: flex;
  align-items: center;
  gap: 30px;
}

.text-panels__content {
  width: 438px;
}

.text-panels__title {
  margin-bottom: 10px;
}

.text-panels__description p:last-of-type {
  margin-bottom: 0;
}

.text-panels__cta {
  font-family: var(--font-bold);
  position: relative;
  width: fit-content;
  text-decoration: none;
  transition: var(--transition);
}

.text-panels__cta::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: solid 1px var(--black);
  position: absolute;
  transition: var(--transition);
  left: 0;
}

.text-panels__cta:hover {
  text-decoration: none;
}

.text-panels__item:hover .arrow-cta {
  background-position: center right !important;
}

.text-panels__cta:hover::after {
  border-color: var(--green);
}

.text-panels__items {
  width: calc(100% - 438px - 30px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.text-panels__item-wrapper label {
  font-size: 12px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.text-panels__item {
  display: block;
  background-color: var(--white);
  padding: 21px 14px;
  width: 321px;
  border: solid 1px var(--gray-border);
  text-decoration: none;
  transition: var(--transition);
}

.text-panels__item:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.text-panels__item:first-child {
  border-radius: 5px 0 0 5px;
}

.text-panels__item:last-child {
  border-radius: 0 5px 5px 0;
}

.text-panels__item-img {
  height: 118px;
  width: fit-content;
  object-fit: contain;
  object-position: center left;
}

.text-panels__item-name {
  font-size: 15px;
  line-height: 24px;
  font-family: var(--font-light);
  text-transform: none;
  text-decoration: none;
  margin-top: 12px;
}

.text-panels__item:hover .text-panels__item-name {
  color: var(--black);
}

@media (max-width: 1024px) {
  .text-panels--right .wrapper {
    display: block;
  }
  .text-panels--right .text-panels__content {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .text-panels .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .text-panels__cta {
    line-height: 17px;
    font-size: 12px;
  }

  .text-panels__content {
    padding-bottom: 30px;
    width: 100%;
  }

  .text-panels__items {
    width: 100%;
    justify-content: center;
  }

  .text-panels__description {
    column-count: 1;
    column-gap: 0;
  }

  .text-panels__description p {
    line-height: 17px;
  }
}
