.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 60px auto;
}

.pagination__button {
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  text-decoration: none !important;
}

.pagination__button:hover {
  color: var(--green);
}

.pagination__button--current {
  color: var(--green);
  cursor: default;
}