.tabs.tabs--adaptive {
  overflow-y: hidden;
}

.tabs__buttons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow-x: auto;
}

.tabs__button {
  font-family: var(--font-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--gray-dark);
  border: none;
  border-bottom: 2px solid var(--gray-light);
  text-align: center;
  text-decoration: none;
  height: 45px;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  background: none;
  width: 205px;
  transition: var(--transition);
}

.tabs__button:focus {
  outline: none;
  box-shadow: none;
}

.tabs__button:hover,
.tabs__button--active {
  color: var(--green);
  border-color: var(--green);
}

.tabs__content {
  position: relative;
  transition: var(--transition);
}

.tabs__item {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  width: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.tabs__item--active {
  opacity: 1;
  visibility: visible;
}
